.color-card {
  margin: 0px 10px;
  padding: 5px;
}

.color-card-highlight {
  display: inline;
  padding: 3px 6px;
  margin-right: 6px;
  background: black;
  color: white;
}

.submit-button {
  margin-top: 12px;
}

.delete-button,
.cancel-button,
.confirm-cancel-button,
.deny-cancel-button {
  margin: 3px 6px 0 0;
}
